    header {
        height: 50px;
        background-color: rgba(44,62,80);
    }

    .jumbotron {
        height: 400px;
        background-color: rgba(26,188,156);
    }

    .jumbotron,
    .portfolio_section,
    .about_section {
        margin-bottom: 100px;
    }

    .portfolio-img {
        height: 300px;
        border: 2px solid purple;
        border-radius: 10px;  
    }

    .portfolio_header {
        height: 100px;
    }

    
    .about_section {
        background-color: rgba(26,188,156);
    }

    .about_box {
        height: 350px;
        border: 2px solid purple;
    }

    .contact_box {
        height: 400px;
        border: 2px solid purple;
    }



    .footer_top_wrap {
        background-color: rgba(58,84,109);
        height: 300px;
    }

    .footer_bottom_wrap {
        background-color: rgba(44,62,80);
        height: 50px;
    }

