    header {
        height: 50px;
        background-color: rgba(44,62,80);
    }

    h1 {
        font-size: 3em;
    }

    h1, h4 {
        text-transform: uppercase;
    }

    .img_container {
        height: 200px;
    }

    .img_container img {
        width: 100%;
        height: 100%;
    }

    .div_line_container div {
        display: inline-block;
    }

    .div_line {
        height: 4px;
        width: 140px;
        border-radius: 10px;
        background-color: white;
    }

    .jumbotron_section,
    .portfolio_section {
        margin-bottom: 100px;
    }

    .portfolio-img {
        height: 100%;
    }

    .portfolio-img img {
        height: 100%;
        width: 100%;
        border-radius: 10px; 
    }

    .portfolio_section .div_line,
    .contact_section .div_line {
        background-color: rgba(58,84,109);
    }
    
    .about_section {
        background-color: rgba(26,188,156);
    }

    .about_section button {
        background-color: transparent;
        border-color: white;
    }

    .div_line_long {
        height: 1px;
        width: 100%;
        background-color:gray;
        margin: 15px 0 15px 0;
    }

    .contact_section {
        padding: 80px 0 70px 0;
    }

    .contact_section button{
        background-color: rgba(26,188,156);
        border-color: rgba(26,188,156);
    }

    .footer_top {
        background-color: rgba(58,84,109);
        padding: 50px 0 30px 0;
    }

    .footer_bottom {
        background-color: rgba(44,62,80);
        padding: 20px 0 10px 0;
    }

    .my_mt_150 {
        margin-top: 150px;
    }

    .jumbo_bg_color {
        color: rgba(26,188,156);
    }

    .circle_logo {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        border: 1px solid white;
    }

    #jumbotron_section {
        background-color: rgba(26,188,156);
    }


